<div id="chatbot-container">
    <div id="chatbot-icon">
        <img src="{{iconurl}}" alt="Chatbot Icon" width="50" height="50">
    </div>
    <div id="chatbot-interface">
        <div id="chat-header">
            <span>Chat Assistant</span>
            <button id="close-chat">×</button>
        </div>
        <div id="chat-content"></div>
        <div id="chat-input-container">
            <input type="text" id="chat-input" placeholder="Type a message...">
            <button id="send-button">Send</button>
        </div>
    </div>
</div>